<div class="tab-pane active" id="All_Reports" role="tabpanel" aria-labelledby="pills-All-tab" >
  <%= render partial: 'data_set_content', locals: {reports: reports, is_all:'yes'} %>
</div>
<% ChannelEnum.all.each do |channelEnum| %>
  <div class="tab-pane" id="datasets<%= channelEnum.id %>" role="tabpanel" aria-labelledby="pills-<%= channelEnum.id %>-tab"  >
    <%= render partial: 'data_set_content', locals: { reports: reports.where(channel_enum_id: channelEnum), is_all:'no'} %>
  </div>
<%end%>

<script type="text/javascript">
  $('a.my_reports:not(#pills-All-tab)').on('dragenter', function (e){
      if (type == 'dataset' && $(this).attr('id')!='pills-All-tab' )
      {
        $('.myTab .nav-item.active').removeClass("active")
        $('.myTab a.nav-link.active').removeClass("active")
        $(this).tab('show');
        $(this).addClass('active');
      }
  });

  $('a.my_reports').on('dragleave',function (e) {
    $(this).tab('hide');
    $(this).removeClass('active')
  });

  function allowDrop_report(ev) {
    if (type=='dataset' && $('a.nav-link.active').get(0).getAttribute('id')!='pills-'+current_dataset_tab+'-tab')
    {ev.preventDefault();}
  }

  function drop_report(ev,newPos) {
    var previousPos = ev.dataTransfer.getData("text");
    var status = ev.dataTransfer.getData("status");
    if (status=='report'){
      $.ajax({
        url:window.location.pathname+"?previous_report_position="+previousPos+"&new_report_position="+newPos+"&filter_report="+"Report",
        dataType: "script",
        cache: true
      });
    }
  }
</script>
