<table class="table table-responsive table-hover" id="reports_table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Date created</th>
    <th>Date las updated</th>
  </tr>
  </thead>
  <tbody>
  <% @reports.each do |report| %>
      <tr>
        <td><%= report.name %></td>
        <td><%= format_date_time report.created_at %></td>
        <td><%= format_date_time report.updated_at %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<script>
    $(document).ready(function(){
        initDataTable('reports_table')
    })
</script>
