<section id="widget-grid" class="new_user_account">
  <div class="row">
    <article class="col-xs-12">
      <%= render partial: 'form',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     wid_id: 'new_channel',
                     wid_title: 'Edit Channel',
                     channel: @channel
                 } %>
    </article>
  </div>
</section>


<script>
  $(document).ready(function () {
      if ($(#channel_option_3).prop("checked") == false) {
          $(#channel_option_3).prop("disabled", true);
          if ($(#channel_option_1).prop("checked") == true) {
             $(#channel_option_2).prop("disabled", true);
          } else {
             $(#channel_option_1).prop("disabled", true);
          }
      }
  })
</script>
