<% if module_enabled?('news') && can?(:manage_roles, :manage_news, :view_news) %>
    <li class="<%= menu_active?('news') %>">
      <a href="/news" title="<%= 'news' %>"><i class="fa fa-lg fa-fw fa-newspaper-o"></i><span class="menu-item-parent"><%= 'news' %></span></a>
    </li>
<% end %>