
  <li class="nav-item mb-3" data-toggle="tooltip" data-placement="right" data-container="body" data-boundary="window" title="Home">
    <a href="/" class="nav-link btn btn-icon btn-clean btn-lg <%= menu_active?('welcome') %>">
      <span class="svg-icon svg-icon-xl">
        <i class="fas fa-home"></i>
      </span>
    </a>
  </li>

  <%= render partial: 'menu/other_links' %>

  <!-- <script>
      $( function() {
          $( "#sortable" ).sortable();
          $( "#sortable" ).disableSelection();
      } );
  </script> -->
  <% if User.current.admin? %>
      <%= render partial: 'menu/admin' %>
  <% end %>
</ul>
