<li class="menu-item" aria-haspopup="true" data-toggle="tooltip" data-placement="right" data-container="body" data-boundary="window">
  <a href="/" class="menu-link btn btn-clean shadow-none <%= menu_active?('welcome') %>">
    <span class="svg-icon menu-icon ">
      <i class="fas fa-home"></i>
    </span>
    <span class="menu-text <%= menu_active?('welcome')%>">Home</span>
  </a>
</li>
<%= render partial: 'menu/other_links' %>
<% if User.current.admin? %>
  <%= render partial: 'menu/admin' %>
<% end %>
