<div class="module-title">
  <h2 class='module-title-text'>One Drive</h2>
</div>

<section id="widget-grid" class="news_section">
  <div class="row" style="margin-bottom: 10px">
    <div class="col-md-12 ">
      <div class="pull-right">
        <%= show_button(new_one_drife_path, 'Connect', 'plus', 'primary') %>
      </div>
    </div>
  </div>
</section>
