<section id="widget-grid" class="users_list">
  <div class="card card-custom mb-4 mt-4">
    <div class="row" style="margin-bottom: 10px">
      <div class="col-md-12 ">
        <div class="mt-3 ml-2">
          <h2 class='module-title-text pull-left'>USERS</h2>
        </div>
        <div class="pull-right  ">
          <%= show_button(new_employee_path, t(:new_user), 'plus', 'info') %>
          <%#= show_button(active_users_path, ' Active users', 'star', 'info') %>
          <%#= show_button(audit_users_path, ' Audit users', 'tag', 'secondary') %>
          <%= show_button( params.permit(:from, :to, :status_type).merge(format: 'pdf'), ' Print', 'print', 'danger') %>
        </div>
      </div>
    </div>
  </div>
</section>

<section >
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'form',
                 locals: {
                     users: @users,
                     wid_id: 'users',
                     wid_title: ' '
                 } %>
    </article>
  </div>
</section>

