<div class="card card-custom jarviswidget jarviswidget-color-blueLight mb-0" id="<%= wid_id %>" data-widget-deletebutton="false"  data-widget-sortable='false' data-widget-editbutton="false">
 <header class="card-header" style="flex-direction: row-reverse; padding: 1rem; min-height: 60px; height: 62px; border: 0;">
    <h2><strong><%= wid_title %></strong> </h2>
  </header>
  <div class="pt-0">
    <div class="card-body widget-body p-0">
      <div class="row">
        <div class="col-xs-12" style="overflow: hidden" id="<%= wid_id %>_container">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</div>
