<div id="widget-grid">
  <div class="card-body py-2">
    <section class="dashboard_all">
      <div class="row mb-5">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pb-2">
          <%= render  partial: 'dashboard_content',
                      layout: 'shared/smart_widget_wrapper',
                      locals: {
                        wid_id:"",
                        wid_title:"Dashboards",
                        dashboards: @dashboard_all,
                        dashboard_count: @dashboard_all_count,
                        shared_dashboard_count: @shared_dashboard_all_count,
                        shared_dashboards: @shared_dashboard_all,
                      } %>
        </article>
      </div>
    </section>
  </div>
  <div class="card-body py-2">
    <section class="all_pivot_tables">
      <div class="row mb-5">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= render  partial: 'report_content',
                      layout: 'shared/smart_widget_wrapper',
                      locals: {
                        wid_id: "",
                        wid_title: 'Reports',
                        reports: @all_reports,
                        report_count: @all_reports_count,
                        display_more_report: 'display_all_reports'
                      } %>
        </article>
      </div>
    </section>
  </div>
</div>
