<div id="content" class="container">
  <div class="row">
    <div class="col-md-9 px-0" id="pivotTable">
      <%= render partial: 'reports' %>
    </div>
    <div class="col-md-3">
      <% if module_enabled?('news') %>
        <div class="hidden-xs">
          <% News.includes(:user).order("id DESC").first(Setting['news_limit'].to_i).each do |news| %>
            <%= render partial: 'news/news', locals: {news: news} %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

