<div class="row">
  <div class="col-xs-12" style="padding:15px 25px 15px 25px;">
    <p>
      <strong>Title:</strong>
      <%= @note_template.title %>
    </p>

    <p>
      <strong>Note:</strong>
      <%= @note_template.note.html_safe %>
    </p>
  </div>
</div>
