<section id="widget-grid" class="note_template_section">
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'form',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     note_template: @note_template,
                     wid_id: 'info',
                     wid_title: 'New Note'
                 } %>
    </article>
  </div>
</section>
