<section id="widget-grid" class="channel">
  <div class="row">
    <article class="col-xs-12">
      <%= render partial: 'list',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     wid_id: 'channel',
                     wid_title: 'Dashboards'
                 } %>
    </article>
  </div>
</section>


