<div>
  <%= render partial: 'action_menu' %>
  <p>
    <strong>Name:</strong>
    <%= @dashboard.name %>
  </p>

  <div class="row">
    <% @dashboard.save_pivot_tables.each do |pivot_table| %>
        <div class="col-md-6" style="max-height: 600px">
          <% params[:query_id] = pivot_table.id %>
          <% params[:remove_header] = true %>
          <%= render partial: 'reports/pivot_table', locals: {pivot_table: pivot_table} %>
        </div>
    <% end %>
  </div>
</div>
