
#main {
  background-color: #f3f6f9;
}
.display-contents{
 display: contents;
}
#dragDropDataSet.placeholder-custom::after{
  content: 'Drag any report from below and drop here';
  width: 100%;
  color: #3F4254;
  text-align: center;
  margin-top: 30px;
}
.disp_i {
  .card-body{
    padding-top: 0px !important;
  }
  .disp_icon > span > i{
    display: block !important;
  }
  img {
    height: 160px !important;
  }
}
.pointer-events-none {
    pointer-events: none !important;
}
.box-shadow:hover{
   box-shadow: 0px 20px 40px rgba(0,0,0,0.2);
   transform: scale(1.02,1.02);
 }
.pvtAxisContainer {
  li:first-child {
    margin-left: 30px !important;
  }
}
.link-color {
  color: #1BC5BD !important;
}
.overflow-pivot {
  overflow-x: auto;
}
.w-80 {
  width: 80%;
}
