
#main {
  background-color: #f3f6f9;
}
.display-contents{
 display: contents;
}
.disp_i {
  .disp_icon > span > i{
    display: block !important;
  }
}
.pointer-events-none {
    pointer-events: none !important;
}
.box-shadow:hover{
   box-shadow: 0px 20px 40px rgba(0,0,0,0.2);
   transform: scale(1.02,1.02);
 }
