$mh-blue1: #3276b1;
$mh-blue2: #80affc;
$mh-blue3: #5492f7;
$mh-white: #f5f5f5;
$mh-black: black;

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .module-title {
      text-align: center;
    }
    .filter-tab, .actions-tab {
      padding: .7em;
      font-size: .7em;
    }
}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .module-title {
      text-align: center;
    }
    .filter-tab, .actions-tab {
      padding: .8em;
      font-size: .8em;
    }
}

/* ----------- Laptops ----------- */

@media only screen and (min-width: 768px) {
  .filter-tab, .actions-tab {
    padding: 10px 15px;
    letter-spacing: 2px;
  }
}

.module-title-text {
  color: $mh-blue1;
  letter-spacing: 2px;
}

.tabs-section {
  padding-left: 0px;
}

.tabs-section button:first-child {
  margin-left: 0px;
}

.filter-tab {
  background-color: $mh-blue1;
}

.actions-tab {
  background-color: $mh-blue2;
}

ul.dropdown-links {
  background-color: $mh-blue3;
}

ul.dropdown-links li {
  display: inline;
  padding: 1px 10px;
}

ul.dropdown-links a{
  display: inline-block;
  color: $mh-white;
}

ul.dropdown-links a:hover{
  color: $mh-black;
  font-style: italic;
  background-color: transparent;
}

.dropdown-item-dividier {
  margin: 5px 11px;
  border-bottom: 1px solid skyblue;
}

.aside-nav1::-webkit-scrollbar {
  display: none;
}

.aside-nav1 {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.tooltip {
  z-index: 9999999999;
}
.form-control {
  border-radius: .42rem !important;
}
.smart-form *,
.smart-form *:after,
.smart-form *:before {
  box-sizing: border-box !important;
}
.sign-button {
  float: right;
  margin: 0;
  padding: 0 22px;
  font: 300 15px/29px 'Open Sans', Helvetica, Arial, sans-serif;
}
.omniauth-login {
  i:hover {
    color: #1bc5bd;
  }
}

.fade.in.tooltip{
  opacity: 1 !important;
  font-weight: normal;
}

.ui-tabs-panel {
  border: 0 !important;
}
.ui-tabs-nav {
  margin: 1rem !important;
  width: 100%;
  text-align: center;
  display: flex;
  border: 0 !important;
  .ui-tabs-anchor {
    color: #B5B5C3 !important;
    background: transparent !important;
  }
  .ui-tabs-active {
    .ui-tabs-anchor {
      color: #ffffff !important;
      background-color: #1BC5BD !important;
    }
  }
}
.avatar-img {
  border-radius: 50%;
  margin-right: 1rem;
  height: 4rem;
}
.cke {
  border: 1px solid #E4E6EF !important;
  /*border-radius: .42rem !important;*/
}
.jarviswidget-loader {
  display: none;
}
.select2-selection__arrow b {
  line-height: 2;
  font-size: 18px;
}
.select2 {
  .selection {
    .select2-selection {
      background-color: #ffffff;
      border: 1px solid #E4E6EF;
      padding-top: 3px;
      height: 38px;
      border-radius: .42rem;
      &:focus {
        outline: 0;
        border-color: #1BC5BD;
      }
    }
  }
}
.select2-search__field {
  display: block;
  width: 100%;
  height: calc(1.5em + 1.3rem + 2px);
  padding: 0.65rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #3F4254;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #E4E6EF;
  border-radius: 0.42rem;
  box-shadow: none;
}
.select2-selection--multiple {
  .select2-search--inline {
    padding: 3px;
    margin-left: 5px;
    border-radius: 5px;
  }
  .select2-search__field {
    min-width: 150px;
    margin-top: 0px !important;
  }
  .select2-search input {
    background: transparent;
  }
}
.select2-results__option, .select2-selection__rendered {
  padding: 4px;
}
.select2-selection__choice, .select2-results__option--highlighted {
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #1BC5BD;
  border-color: #1BC5BD;
  box-shadow: none;
  border: 0;
}

.select2-container .select2-search--inline .select2-search__field {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  font-size: 100%;
  margin-top: 5px;
  padding: 0;
}

.select2-container--open .select2-dropdown, .select2-drop-active {
  border: none;
}
select[name*="table_length"] {
  width: 4rem !important;
  padding: .5rem !important;
}
.table thead tr,
.fc-head-container thead tr {
  background-color: transparent !important;
  background-image: unset !important;
}
.dataTables_info{
  font-weight: normal !important;
  color: #3F4254 !important;
  font-style: inherit !important;
}
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
  background-image: none;
  background-color: transparent;
}
table.dataTable thead .sorting {
  background: transparent !important;
}
