<div class="row">
  <div class="col-md-12 d-flex justify-content-end mb-3 pr-0">
    <div class="col-md-1 d-flex justify-content-end pr-0">
      <label class="pt-3 mb-0">Filter:</label>
    </div>
    <div class="col-md-3" style="width: 300px;">
      <%= select_tag :dashboard_enum_id,options_for_select(DashboardEnum.all.collect{|x| [x.name,x.id]}.prepend ['All', '']),onchange: 'fetch_dashboard_data(this.value)'  %>
    </div>
  </div>
</div>
<div class="row show_dashboards">
  <%= render partial: 'dashboard_content', locals: { report_dashboard: report_dashboard, dashboard_enum_id:dashboard_enum_id, report_enum_id: report_enum_id } %>
</div>


