<div class="tab-pane active" id="All_Dashboards" role="tabpanel" aria-labelledby="pills-All-tab" >
  <%= render partial: 'dashboard_content', locals: { report_dashboard: report_dashboard,is_all:'yes'} %>
</div>
<% ChannelEnum.all.each do |channelEnum| %>
  <div class="tab-pane" id="<%= channelEnum.id %>" role="tabpanel" aria-labelledby="pills-<%= channelEnum.id %>-tab" >
    <%= render partial: 'dashboard_content', locals: {report_dashboard: report_dashboard.where(channel_enum_id:channelEnum.id),is_all:'no'} %>
  </div>
<% end %>

<script type="text/javascript">
  $('a.my_dashboards').on('dragenter', function (e) {
    if (type == 'dashboard' && $(this).attr('id')!='pills-All-tab')
    {
      $('.dashboard_tab .nav-item.active').removeClass("active");
      $('.dashboard_tab a.nav-link.active').removeClass("active");
      $(this).tab('show');
      $(this).addClass('active');
    }
  });

  $('a.my_dashboards').on('dragleave', function (e) {
    $(this).tab('hide');
    $(this).removeClass('active')
  });

  function allowDrop_dashboard(ev) {
    if (type == 'dashboard' && $('a.nav-link.active').get(1).getAttribute('id') != 'pills-'+current_dashboard_tab+'-tab')
    {ev.preventDefault();}
  }

 function drop_dashboard(ev,newPos) {
  var previousPos = ev.dataTransfer.getData("dashboard");
  var status = ev.dataTransfer.getData("status");
  if (status=='dashboard'){
    $.ajax({
      url:  window.location.pathname+"?previous_dashboard_position="+previousPos+"&new_dashboard_position="+newPos+"&filter_dashboard="+"Dashboard",
      dataType: "script",
      cache: true
    });
  }
}
</script>
