<table class="table table-responsive" id="reports_table">
  <thead>
  <tr>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% SavePivotTable.where(report_id: @report.id).each do |p| %>
  <tr>
    <td><%= link_to p.name, channel_report_path(@channel, @report, query_id: p.id), style: 'color: black' %>
    </td>
    <td><%= link_to( '<i class="fa fa-trash"></i>'.html_safe, delete_pivottable_channel_report_path(@channel, @report, query_id: p.id),
                     :method => :delete,
                     :data => {:confirm => t(:text_are_you_sure)}) if p.user_id == User.current.id %>


    </td>
  </tr>

  <% end %>

  </tbody>
</table>

<script>
  $(document).ready(function(){
      initDataTable('reports_table')
  })
</script>