<% tables = SavePivotTable.where(report_id: @report.id) %>
<% if tables.present? %>
  <%tables.each do |pivot_table| %>
    <%= render partial: 'grid', locals: {pivot_table: pivot_table} %>
  <% end %>
<% else %>
  <div class="alert alert-custom alert-notice alert-light-primary show d-flex" role="alert">
    <div class="alert-icon"><i class="flaticon-warning"></i></div>
    <div class="alert-text">No Report to display!</div>
  </div>
<% end %>
