<div class="row row_report">
  <% if pivot_tables.present? %>
    <% pivot_tables.each do |pivot_table| %>
      <%= render partial: 'grid', locals: {pivot_table: pivot_table,is_all:is_all} %>
    <% end %>
  <% else %>
    <div class="mx-3 w-100 alert h-150 alert-custom alert-notice alert-light-primary show d-flex" role="alert">
      <div class="alert-icon"><i class="fas fa-exclamation-triangle"></i></div>
      <div class="alert-text ">No Report to display!</div>
    </div>
  <% end %>
</div>
